@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right,rgba(237,126,57,255), rgba(250,222,22,255),rgba(197,160,53,255),rgba(27,130,194,255),rgba(160,182,191,255));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(237,126,57,0.4), rgba(250,222,22,0.4),rgba(197,160,53,0.4),rgba(27,130,194,0.4),rgba(160,182,191,0.4))
  }
  .logo{
 
    max-width: 10rem;
    margin-bottom: 30px;
  }
  .logo{
    /* margin-top: 10px; */
    max-width: 10rem;
    margin-bottom: 30px;
  }
  .btn{
    margin-top: 30px;
  }
  .login-btn{
  height: 40px;
  width: 150px;
  margin-top: 5px;
  background-color: #0E7DBF;
 border: none;
 border-radius: 5px;
 color: #fff;
  }

  
 
