<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Data Migration Portal</title>
    <link rel="stylesheet" href="" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <link th:href="@{/css/sweetalert.css}" type="text/css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/sweetalert.min.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/js/listcsv.js}"></script>
    <script type="text/javascript">

        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };


    </script>


</head>

<body>
    <script th:if="${session.isEmpty()}">
        location.href = '/api/session';</script>
    <div class="outer-container flex">
        <section class="sidebar">

            <div id="logo">
                <img src="" th:src="@{/assets/logo.png}" alt="">
            </div>
            <div id="nav-content">

                <div id="dash-board" class="hover-effect">
                    <a href="#dashboard" class="dashboard a-tag"> <img id="dashboard" class="img-tag" src=""
                            th:src="@{/assets/dashboard.svg}" alt="">
                        Dashboard </a>
                </div>
                <div class="hover-effect">
                    <a th:href="@{/api/downloadreports}" class="report a-tag" href="#report"> <img class="img-tag"
                            id="report" src="" th:src="@{/assets/report.svg}" alt="">
                        Report</a>
                </div>
                <div th:if="${session.role == 'Admin'}" class="hover-effect">
                    <a th:href="@{/api/setting}" class="setting a-tag" href="#setting">
                        <img class="img-tag" id="setting" src="" th:src="@{/assets/setting.svg}" alt="">
                        Setting</a>
                </div>

                <div class="hover-effect">

                    <form th:action="@{/api/destroy}" method="post">

                        <a class="logout a-tag" href="#logout"> <img class="img-tag" id="logout" src=""
                                th:src="@{/assets/logout.svg}" alt="">

                            <button id="logout_btn" type="submit" value="Logout">Logout</button>

                        </a>

                    </form>

                </div>


            </div>
        </section>
        <section class="interface">
            <div id="navigation">

                <div id="user">
                    <div id="profile">
                        <div class="user-session ">
                            <h5 th:text="${#strings.substring(session.name,0,1)}"></h5>
                        </div>
                    </div>
                    <div id="user-text">

                        <h1 th:if="${!session.isEmpty()}"
                            th:text="${#strings.concat(session.greetings,' ',session.name)}"></h1>

                        <p>Here is your today's activities and updates</p>
                    </div>

                </div>
                <div id="download" th:if="${session.role != 'User'}">

                    <img id="download-icon" src="" th:src="@{/assets/download.svg}" alt="">

                    <select id="entity">
                        <option selected>Download Entity Lookup Sample File</option>

                        <option id="entity-list" class="entity" th:each="option : ${entities}" th:value="${option.key}"
                            th:text="${option.key}" th:name="${option.key}">
                        </option>
                    </select>
                    <div class="new flex">

                    </div>
                </div>
            </div>

            <div class="global-lookup flex">

                <!-- <p><b>Global Lookup</b> <a href="#" class="edit"><b>Edit</b></a></p>

                <div class="content">
                    <p class="some-text">
                        <b>VERSION</b> :3 &nbsp;|&nbsp; <b>USER ID</b>:SYSUSER &nbsp;|&nbsp; <b>DATE_FORMAT</b>:MM-DD-YY
                        &nbsp;|&nbsp; <b>DATE_TIME_FORMAT</b>:MM-DD-YY HH &nbsp;|&nbsp; <b>FILED 5</b>: FILED 5
                        &nbsp;|&nbsp; <b>FILED 6</b>: FILED 6
                    </p> -->
                <p><b>Global Lookup</b> <a href="#" th:if="${session.role != 'User'}" class="edit"
                        onclick="openForm();"><b>Edit</b></a></p>

                <!-- th:if="${session.role == 'admin'}" -->
                <form id="global-lookup" method="post" th:action="@{/api/main}" th:object="${data}"
                    onsubmit="return validateForm(this)">

                    <div class="content">

                        <p class="some-text" th:each=" map,i: ${data}">

                            <!-- <b>VERSION</b> :3 &nbsp;|&nbsp; <b>USER ID</b>:SYSUSER  &nbsp;|&nbsp; <b>DATE_FORMAT</b>:MM-DD-YY &nbsp;|&nbsp; <b>DATE_TIME_FORMAT</b>:MM-DD-YY HH &nbsp;|&nbsp;  <b>FILED 5</b>: FILED 5 &nbsp;|&nbsp;  <b>FILED 6</b>: FILED 6            -->

                            <b><label id="key" th:name="${map.key}" th:text="${map.key}"></label></b>:

                            <label id="value" th:name="${map.key}" th:text="${map.value}"></label>

                            <!-- <span th:if="${i.count}!=${i.size}">|</span> -->

                        </p>

                    </div>

                </form>
            </div>
            <section id="cards">

                <div class="global-lookup-card flex lookup">
                    <a th:href="@{/api/lookup}">
                        <div class="text-center">
                            <img src="" th:src="@{/assets/lookup.svg}" alt="">
                        </div>
                        <div class="text-center">
                            <p>Manage lookup files</p>
                        </div>
                    </a>
                </div>

                <div class="recently-used-entity flex ">
                    <h1>Recently Used</h1>
                    <!-- <div class="recent flex ">
                        <div class="cards" th:each="option,i : ${recentList}">
                            <div class="Circles" th:style="'background-color:' + ${option.value} + ';'">
                                <h5 th:text="${#strings.substring(option.key,0,1)}"
                                    style="color:white;text-align: center;font-weight:400;font-size: 25px;"></h5>
                            </div>
                            <h6 class="Names" >
                                <a th:href="@{'/api/primary/' + ${option.key}}">
                                  <span th:value="${option.key}" th:text="${option.key}" th:name="${option.key}"></span>
                                </a>
                              </h6>
                        </div>
                    </div> -->
                    <div class="outer-wrapper">
                        <div class="inner-wrapper">
                            <div class="pseudo-item" th:each="option,i : ${recentList}">
                                <div class="Circles" th:style="'background-color:' + ${option.value} + ';'">
                                    <h5 th:text="${#strings.substring(option.key,0,1)}"
                                        style="color:white;text-align: center;font-weight:400;font-size: 25px;"></h5>
                                </div>
                                <h6 class="Names">
                                    <a th:href="@{'/api/primary/' + ${option.key}}">
                                        <span th:value="${option.key}" th:text="${option.key}"
                                            th:name="${option.key}"></span>
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="pseduo-track"></div>
                </div>

            </section>
            <hr>
            <section class="other-pages flex">
                <a th:href="@{/api/validate}">
                    <div th:if="${session.role != 'User'}" class="global-lookup-card flex validate">

                        <img src="" th:src="@{/assets/validate.svg}" alt="">
                        <p>Validate</p>
                    </div>
                </a>
                <a th:href="@{/api/transform}">
                    <div th:if="${session.role != 'User'}" class="global-lookup-card flex transform">

                        <img src="" th:src="@{/assets/transform.svg}" alt="">
                        <p>Transform</p>
                    </div>
                </a>
                <a th:href="@{/api/load}">
                    <div th:if="${session.role != 'User'}" class="global-lookup-card flex load">

                        <img src="" th:src="@{/assets/load.svg}" alt="">
                        <p>Load</p>
                    </div>
                </a>
            </section>
        </section>

    </div>
    <!-- Popup Form -->
    <div class="loginPopup">
        <div class="formPopup" id="popupForm">
            <form class="form formContainer" method="post" th:action="@{/api/main}" th:object="${data}"
                onsubmit="return validateForm(this)">
                <h2>Global Lookup</h2>
                <table>
                    <div class="form-control" th:each=" map : ${data}">
                        <tr style="align-items: center;">
                            <td><label id="key" th:name="${map.key}" th:text="${map.key}"></label></td>
                            <td><input id="global_value" class="form-control" style=" margin-top: 20px; background-color: #f5f5f5;  border-radius: 7px;
                            font-size:17px" th:name="${map.key}" type="text" th:value="${map.value}">
                            </td>
                        </tr>
                    </div>
                </table>
                <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>

                <button type="submit" class="btn">Save</button>
            </form>
        </div>
    </div>


</body>

</html>

